<!--The content below is only a placeholder and can be replaced.-->
<!--One way from component to template binding-->
<h1>{{title}}</h1>
<h2>My favorite hero is: {{myHero}}</h2>
<p>Heroes:</p>
<ul>
  <!--Li will be hidden if myHero == Bombasto-->
  <!--Also ngFor and ngIf are directives-->
  <li [hidden]="myHero == 'Bombasto'" *ngFor="let hero of heroes; let i = index">
    {{i + 1}} {{ hero }}
  </li>
</ul>
<p *ngIf="heroes.length > 3">There are many heroes!</p>
<!--<img [src]="heroImageUrl"> We can set property of element-->
<!--<app-hero-detail [hero]="currentHero"></app-hero-detail> We can set property of component-->
<!--<div [ngClass]="{'special': isSpecial}" ></div> We can set property of directive-->

<!--NgClass - add and remove a set of CSS classes-->
<!--NgStyle - add and remove a set of HTML styles-->
<!--NgModel - two-way data binding to an HTML form element-->

<!--<div [class.special]="isSpecial">The class binding is special</div> ADDING A CLASS-->
<input [(ngModel)]="hero" placeholder="Hero name">
<input [(ngModel)]="power" placeholder="Hero power">

 <!--Using [] brackets can set property of COMPONENT or html ELEMENT-->
<app-on-changes [hero]="hero" [power]="power"></app-on-changes>