<p>
    <!--{{hero.name}} - displaying property of current component-->
    <!--<app-hero-detail [hero]="selectedHero"></app-hero-detail> - [hero] inject data in app-hero-component as property of component-->
    <!--Our template can use data binding to coordinate the app and DOM data, pipes -->
    <!--to transform data before it is displayed, and directives to apply app logic to what gets displayed.-->

    <!--<li (click)="selectHero(hero)"></li> - event binding to method-->
    <!--<input [(ngModel)]="hero.name"> - two-way binding -->

    <!--{{interpolated_value | date}} - specify a value transformation in an HTML template -->
    <!--{{interpolated_value | date:'fullDate'}} - specify a value transformation in an HTML template -->
</p>
